<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Enabled" value="yes"/>
    <add key="ServiceUrl" value="http://www.mocky.io/v2/56ce1d970f00005401d620bc"/>
  </appSettings>
  <connectionStrings>
    <add name="IocDemo" connectionString="Server=.;Database=AdventureWorks2012;Trusted_Connection=True;"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
